
 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.task{

    border-radius: 15px;
    border: 1px solid ;
    width: 45vw;
    text-align: center;
    margin-left: 250px;
    margin-top: 120px;
        
    }
ul{
    list-style-type: none;

}
.task h1{
    background-color: yellow;
    height: 80px;
    padding:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.task h2{
    color: rgb(0, 0, 0);
    height: 80px;
    padding: 20px;

 
}

footer{
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;
}

.task h2:hover{
    background-color:rgb(0, 0, 0);
    color: aliceblue;

}
.about :hover{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

}
 a:hover{
    color: brown;


}
